.stop {
background-color: rgb(241, 85, 85);
border-radius:20px;
margin: 20px;
padding: 10px;
cursor: pointer;
}

.start{
background-color: lightgreen;
border-radius:20px;
margin: 20px;
padding: 10px;
cursor: pointer;
}
.resume {
    
        background-color: lightblue;
        border-radius:20px;
        margin: 20px;
        padding: 10px;
        cursor: pointer;
}
button:hover{
    background-color: rgb(0, 0, 0);
    color: white;
}
.box{
    background-color: rgb(255, 255, 255); 
    border-radius: 20px;
    margin: auto;
    padding: 10px;
    width: 50%;
    display: flexbox;


}
.all{
     height: 100vh;
    background-color: lightpink; 
}
.top{
padding-top: 100px;
background-color: lightpink;
}
